* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

#nav {
    height: 80px;
    width: 100%;
    /* background-color:red; */
    padding: 0 150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    position: fixed;
    z-index: 99;
}

#nav img {
    height: 65px;
    border-radius: 50%;
}

#nav h4 {
    text-transform: uppercase;
    font-weight: 500;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#main {
    position: relative;
    background-color: rgb(0, 0, 0, 0.37);
}

#page1 {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#page1 h1 {
    font-size: 140px;
    font-weight: 900;
    position: relative;
}

#page1 h1::before {
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: #000;
    top: -5px;
    left: -5px;
    -webkit-text-stroke: 1.5px #95c11e;
    z-index: -1;
}

#page1 h2 {
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}

#page1 p {
    font-size: 18px;
    font-weight: 500;
    width: 40%;
}

#page2 {
    height: 100vh;
    width: 100%;
}

#cursor {
    height: 25px;
    width: 25px;
    background-color: #95c11e;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}